
body {
	overflow: visible !important;
	padding-right: 0 !important;
}

.filters {
	border: 1px solid #f8f8ff !important;
	border-radius: 1em;
	background-clip: padding-box;
	overflow: hidden;
	margin-bottom: 2em;
}

.porcodio {
    background-color: white !important;
}