.sidebar {
	width: 13.6%;
	border-radius: 1em;
	color: white;
	font-size: 0.9em;
	padding: 1em;
	font-family: Poppins;
	font-weight: 500;
	height: 80vh;
	position: fixed;
}

@media (min-width: 1800px) {
	.sidebar {
		width: 14.2%;
		border-radius: 5px;
		color: white;
		font-size: 0.9em;
		padding: 1em;
		font-family: Poppins;
		font-weight: 500;
		height: 80vh;
		position: fixed;
	}
}

.font-sm {
	font-size: 0.9em;
	font-weight: 300;
}

.icon-font {
	font-size: 1.3em;
}

.selected {
	background-color: #4064f1;
}

.round-rectangle {
	border-radius: 0.6em;
	/* padding: 1em; */
}

/* ------------ LIST CSS ------------ */

.list-group-item {
	border: none !important;
	border-bottom: 1px solid #e2e2e2  !important;
}

.custom-list {
	border: 1px solid #e2e2e2 !important;
	font-family: Poppins;
    font-size: 0.78em;
	border-radius: 1em;
}

.list-header {
    font-weight: 500;
	color: rgb(155, 155, 155);
}

.list-elem {
    font-size: 0.95em;
	color: rgb(63, 63, 63);
    font-weight: 500;
}

.grid-cell {
	min-height: 3em;
}

.date-time {
    color: rgb(118, 118, 118);
}

.sport {
    font-size: 1.5em;
    color: rgb(118, 118, 118);
}

.event-span {
    color:  #2f52e0;
}

.percentage {
    background-color: #f8f8ff !important;
    font-size: 1em;
}