.logo {
  width: 1.7em;
}

.navbar {
  background-color: white;
  border-bottom: rgb(218, 218, 218) 1px solid;
}

.search-field {
  font-size: 14px !important;
  background-color: rgb(222, 241, 225) !important;
  border: none !important;
  border-radius: 18px !important;
}

.sm-avatar {
  height: 2em;
  width: 2em;
}
